.section {
    padding: 6rem 2rem;
    background-color: transparent;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.titleWrapper {
    text-align: center;
    margin-bottom: 4rem;
}

.titleWrapper h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.titleWrapper p {
    font-size: 1.1rem;
    max-width: 60ch;
    margin: 0 auto;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    align-items: flex-start;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.detailItem {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.iconWrapper {
    background: var(--accent-gradient);
    color: white;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: var(--text-primary);
}

.detailContact {
    color: var(--text-secondary);
    margin: 0;
}

@media (max-width: 992px) {
    .contentWrapper {
        grid-template-columns: 1fr;
    }

    .detailsContainer {
        margin-top: 3rem;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 4rem 1rem;
    }
    .titleWrapper h2 {
        font-size: 2.5rem;
    }
}


.ServiceGradient{
  background: -webkit-linear-gradient(#ffffff, #646cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}